<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Brocoli Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.png" />
        <!-- Template CSS -->
        <link href="/Admin/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <main>
            <header class="main-header style-2 navbar">
                <div class="col-brand">
                    <a href="/admin/" class="brand-wrap">
                        <img src="/Admin/assets/imgs/theme/logo.png" class="logo" alt="Brocoli Dashboard" />
                    </a>
                </div>
            </header>
            <section class="content-main">
                <div class="row mt-60">
                    <div class="col-sm-12">
                        <div class="w-50 mx-auto text-center">
                            <img src="/Admin/assets/imgs/theme/404.png" width="350" alt="Page Not Found" />
                            <h3 class="mt-40 mb-15">Oops! Page not found</h3>
                            <p>It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us. Here's a little tip that might help you get back on track.</p>
                            <a href="/admin" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> Back to main</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- content-main end// -->

<!-- footer -->
<%- include('../layout/adminFooter.ejs') %>
